<p>
  servers works! Here are the servers
  <app-server></app-server>
  <app-server></app-server>
</p>

<!-- static hard code way
<button class="btn btn-lg btn-primary" disabled>Restart Server</button>
-->

<!-- dynamic databinding way -- using property binding -->
<input type="text" class="form-control" (input)="onServerNameInput($event)" />
<button class="btn btn-lg btn-primary" [disabled]="!btnEnabled" (click)="onRestartServer()">Restart Server</button>
<span [hidden]="hiddenEnabled">you can restart server in {{ countDown }}</span>
<p [innerHTML]="'restart server in ' + countDown" [hidden]="hiddenEnabled"></p>
<p>{{ restartServer }}</p>
<p>{{ serverNameInput }}</p>
