<div class="jumbotron container">
  Say Hello to Angular Project -- Proj1
</div>

<div class="jumbotron container">
  <app-server></app-server>
</div>

<div class="jumbotron container">
  <!-- using selector as element -->
  <app-servers></app-servers>

  <!-- using selector as property
  <div app-servers></div>
  -->

  <!-- using selector as class
    <div class="app-servers"></div>
  -->
</div>

<div class="jumbotron container">
  <app-externalserver></app-externalserver>
</div>

<div class="jumbotron container">
  <app-modal-basic></app-modal-basic>
</div>

<div class="jumbotron container">
  <app-success-alert></app-success-alert>
</div>
